//success
.voyager {
    .btn-success {
        color: #fff;
        background-color: #0abb87;
        border-color: #0abb87;
        color: #ffffff;

        &:hover {
        color: #fff;
        background-color: #08976d;
        border-color: #078b64;
        }

        &:focus, &.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
        }

        &.disabled, &:disabled {
        color: #fff;
        background-color: #0abb87;
        border-color: #0abb87;
        }

        &:not(:disabled):not(.disabled) {
        &:active, &.active {
            color: #fff;
            background-color: #078b64;
            border-color: #077e5b;
        }
        }
    }

  .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #078b64;
    border-color: #077e5b;
  }

  .btn-success:not(:disabled):not(.disabled) {
    &:active:focus, &.active:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
    }
  }

  .show > .btn-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
  }

  .btn-success + .btn.dropdown-toggle {
    position: relative;

    &:before {
      display: block;
      content: ' ';
      border-left: 1px solid #ffffff;
      position: absolute;
      top: 3px;
      left: -1px;
      bottom: 3px;
      opacity: 0.3;
    }

    &:hover:before, &:focus:before, &.active:before {
      display: none;
    }
  }
}
  //end success
