.dataTables_wrapper {
    .dataTables_filter {
      label {
        margin: 0 0 20px;
        &:after {
          background-image: url(#{$get-path-to-assets}/assets/images/ico-search.svg);
          background-position: right center;
          background-repeat: no-repeat;
          background-size: 20px;
          content: '';
          display: inline-block;
          width: 35px;
          height: 35px;
          position: absolute;
          right: 10px;
        }
        input {
          border: 1px solid $main-color9;
          border-radius: 3px;
          width: 432px;
          height: 35px;
          font-size: 14px;
          color: $main-color3;
          padding: 8px 40px 8px 10px;
          &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
            font-size: 14px;
            color: $main-color8;
          }
        }
      }
    }
    .dataTables_info {
      color: $main-color3;
      font-weight: normal;
      font-size: 16px;
      padding-top: 0;
      margin-top: 27px;
      float: left;
      display: inline-block;
      width: 30%;
    }
    .dataTables_paginate {
      padding-top: 0;
      margin-top: 27px;
      float: none;
      text-align: center;
      display: inline-block;
      width: 40%;
      ul {
        &.pagination {
          margin: 0;
          &>.disabled {
            &>span {
              color: $main-color5;
              border: none;
              padding: 0 10px;
            }
          }
        }
        li {
          &.first a:before, &.last a:after {
            top: 0;
          }
          &.previous>a, &.next>a {
            color: transparent;
            padding: 0;
            border-radius: 40px;
            box-shadow: 0px 1px 3px rgba(0,0,0,.16);
            width: 28px;
            height: 28px;
          }
          &.previous a:before {
            top: 0;
            margin-top: 2px;
            margin-left: -5px;
            color: $main-color1;
          }
          &.next a:after {
            top: 0;
            margin-top: 2px;
            margin-left: -5px;
            color: $main-color1;
          }
          &.disabled {
            a {
              &:before, &:after {
                color: $main-color8;
              }
            }
          }
        }
      }
      .paginate_button {
        &:active {
          background-color: transparent;
          background: none;
          box-shadow: none;
        }
        &:hover {
          color: $main-color3;
          background: none;
          border: none;
          box-shadow: none;
        }
      }
      .pagination {
        .page-item {
          &:first-child {
            .page-link {
              padding: 0;
              border-radius: 40px;
              box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
              width: 28px;
              height: 28px;
              border: none;
              font-size: 18px;
              margin-top: -4px;
            }
          }
          &:last-child {
            .page-link {
              padding: 0;
              border-radius: 40px;
              box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
              width: 28px;
              height: 28px;
              border: none;
              font-size: 18px;
              margin-top: -4px;
            }
          }
          &.active {
            .page-link {
              padding: 0 4px;
              &:hover {
                padding: 0 4px;
              }
            }
          }
          .page-link {
            &:hover {
              background-color: $main-color2;
            }
          }
        }
      }
    }
    .dataTables_length {
      float: right;
      margin-top: 27px;
      display: inline-block;
      width: 30%;
      text-align: right;
      color: $main-color3;
      label {
        font-weight: normal;
        font-size: 16px;
      }
      select {
        border: none;
        color: $main-color3;
        font-size: 16px;
        padding: 0 6px;
        line-height: 1.6;
        height: 23px;
        width: 50px !important;
        margin-bottom: 3.5px;
        margin-left: 4px;
        margin-right: 4px;
        background-image: url(#{$get-path-to-assets}/assets/images/arrow-down-black.svg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
      }
    }
  }
  .show-res {
    color: $main-color3;
    font-size: 16px;
  }
  .voyager .pagination .active {
    > {
      a {
        background-color: transparent;
        border-color: transparent;
        color: $main-color3;
        font-size: 16px;
        font-weight: normal;
        border-bottom: 2px solid $main-color1;
        padding: 0 4px;
        margin: 0 8px;
        line-height: 1.2;
        &:focus, &:hover {
          background-color: transparent;
          border-color: transparent;
          color: $main-color3;
          font-size: 16px;
          font-weight: normal;
          border-bottom: 2px solid $main-color1;
          padding: 0 4px;
          margin: 0 8px;
          line-height: 1.2;
        }
      }
      span {
        &:focus, &:hover {
          background-color: transparent;
          border-color: transparent;
          color: $main-color3;
          font-size: 16px;
          font-weight: normal;
          border-bottom: 2px solid $main-color1;
          padding: 0;
          margin: 0 8px;
          line-height: 1.2;
        }
      }
    }
    span {
      background-color: transparent;
      border-color: transparent;
      color: $main-color3;
      font-size: 16px;
      font-weight: normal;
      border-bottom: 2px solid $main-color1;
      padding: 0;
      margin: 0 8px;
      line-height: 1.2;
    }
  }
  .voyager .pagination > li > a {
    color: $main-color5;
    padding: 0;
    margin: 0 8px;
    border: none;
    font-size: 16px;
    font-weight: normal;
  }
