.roles {
    .page-content {
        .form-edit-add {
            .panel-body {
                font-size: 0px;

                label {
                    color: $main-color5;
                    font-size: 16px;
                    padding-left: 10px;
                }

                label[for="permission"] {
                    padding-bottom: 7px;
                }
            }
        }

        .panel-body {
            a {
                &.permission-select-all {
                    border: 1px solid $main-color1;
                    border-radius: 6px;
                    padding: 7px 31px;
                    color: $main-color1;
                    font-size: 12px;

                    box-shadow: 0px 1px 3px $main-color19;
                    width: 30px;
                    height: 120px;
                    margin-right: 20px;
                }

                &.permission-deselect-all {
                    border: 1px solid $main-color13;
                    border-radius: 6px;
                    padding: 7px 31px;
                    color: $main-color13;
                    font-size: 12px;
                    box-shadow: 0px 1px 3px $main-color19;
                    width: 30px;
                    height: 120px;
                    margin-right: 20px;
                }
            }

            ul.permissions {
                margin-top: 22px;

                ul {
                    li {
                        label {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
    }
}
