.users {
    li {
        &.select2-results__option:nth-child(2) {
            display: none;
        }
    }

    .select2-dropdown {

        &.select2-dropdown--below,
        &.select2-dropdown--above {
            .select2-search--dropdown {
                display: none;
            }
        }

        &.select2-dropdown--above {
            border: none;
        }
    }
}
