.popular_courses .single_courses .thumb img {
    height: 200px;
    object-fit: cover;
}

.logo-img img, .footer_logo img {
    height: 50px;
}

.footer_bg_1 {
    background-color: #1C2331;
}

.header-area .main-header-area {
    padding: 0 150px;
    background: #04d2c8;
    background: -moz-linear-gradient(left, #FFA33F 0%, #B6EE56 100%);
    background: -webkit-linear-gradient(left, #FFA33F 0%, #B6EE56 100%);
    background: linear-gradient(to right, #FFA33F 0%, #B6EE56 100%);
}

.header-area .main-header-area.sticky {
    background: #fdae5c;
    background: -moz-linear-gradient(left, #FFA33F 0%, #B6EE56 100%);
    background: -webkit-linear-gradient(left, #FFA33F 0%, #B6EE56 100%);
    background: linear-gradient(to right, #FFA33F 0%, #B6EE56 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a64eee', endColorstr='#3c35ce', GradientType=1);
}
.single_courses {
    & .title-crad-display a{
        font-size: 18px;
        line-height: 1.5;
        color: #F78914;
        padding-bottom: 2px;
    }
}
